<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>


{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="d-flex p-2 justify-content-between">
	<h4>Music</h4>
	<p>
		<button type="button" class="btn btn-primary js-create-hymn"
				data-url="{% url 'hymn_create' 1 %}">
		<span class="glyphicon glyphicon-plus"></span>
		Add hymn
		</button>
	</p>
</div>
<form method="post" action="{% url 'hymn_create' 1 %}" class="js-hymn-create-form" table-id="hymns-table">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Add a new Hymn</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% include 'includes/partial_hymn_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Create Hymn</button>
  </div>
</form>

<script>
	(function($) { 
		$(document).ready(function() {
			var path = $(location).attr('pathname');
			var id_wedding = path.split("/")[4];
			if(id_wedding=='add'){
				id_wedding = 0;
			}else{
				id_wedding = id_wedding;
			}	
	//alert(id_wedding);
		})
$(function () {
  var loadForm = function () {
    console.log("Load Form Run");
    var btn = $(this);
	alert(btn.attr("data-url"))
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-CRUD").modal("show");
      },
      success: function (data) {
        console.log(data.html_form);
        $("#modal-CRUD").find(".modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    console.log("Save form run");
    var form = $(this);
    console.log("'#" + form.attr("table-id") + "'");
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          console.log("Data is valid");
          // $(".js-update-table").find("tbody").html(data.html_reading_list);
            console.log("RL=", data.html_reading_list);
          $("#" + form.attr("table-id")).find("tbody").html(data.html_reading_list);
          $("#modal-CRUD").modal("hide");
        }
        else {
          console.log("Data form is not Valid");
          $("#modal-CRUD").find(".modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };

  /* Binding */

  // Create Person
  $(".js-create-person").click(loadForm);
  $("#modal-CRUD").on("submit", ".js-person-create-form", saveForm);

  // Update Person
  $("#people-table").on("click", ".js-update-person", loadForm);
  $("#modal-CRUD").on("submit", ".js-person-update-form", saveForm);

  // Delete person
  $("#people-table").on("click", ".js-delete-person", loadForm);
  $("#modal-CRUD").on("submit", ".js-person-delete-form", saveForm);

  //Create Wedding
  $(".js-create-wedding").click(loadForm);
  $("#modal-CRUD").on("submit", ".js-wedding-create-form", saveForm);

  // Update Wedding
  $("#wedding-table").on("click", ".js-update-wedding", loadForm);
  $("#wedding-update-form").on("submit", ".js-wedding-update-form", saveForm);

  // Delete Wedding
  $("#wedding-table").on("click", ".js-delete-wedding", loadForm);
  $("#modal-CRUD").on("submit", ".js-wedding-delete-form", saveForm);



  // Create Hymn
  $(".js-create-hymn").click(loadForm);
  $("#modal-CRUD").on("submit", ".js-hymn-create-form", saveForm);

  // Update Hymn
  $("#hymns-table").on("click", ".js-update-hymn", loadForm);
  $("#modal-CRUD").on("submit", ".js-hymn-update-form", saveForm);

  // Delete Reading
  $("#hymns-table").on("click", ".js-delete-hymn", loadForm);
  $("#modal-CRUD").on("submit", ".js-hymn-delete-form", saveForm);


});
	})(django.jQuery);


 	
</script>
<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal-CRUD">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
	
{% endblock %}