{% extends 'base.html' %}
{% load static %}

{%  block extra_js %}
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header">
                            People
                            <button type="button"
                                class="btn btn-primary float-right js-create-person"
                                data-url="{% url 'person_create' %}">
                                <span class="fal fa-user-plus"></span> New Person
                            </button>

{#                            <button type="button"#}
{#                                    class="btn btn-warning btn-sm js-update-person">#}
{#                                    <span class="fal fa-edit"></span> Edit#}
{#                            </button>#}
                        </div>
                        <div class="card-body">
                            <table class="table table-sm" id="people-table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">E-Mail</th>
                                        <th scope="col">Church</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% include 'includes/partial_people_list.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

  <!-- THE MODAL WE WILL BE USING -->
 <div class="modal fade" id="modal-CRUD">
     <div class="modal-dialog">
        <div class="modal-content"></div>
     </div>

{% endblock %}