{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        Weddings
                        <button type="button"
                            class="btn btn-primary float-right js-create-wedding"
                            data-url="{% url 'wedding_create' %}">
                            <span class="fal fa-user-plus"></span> New Wedding
                        </button>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm js-update-table" id="wedding-table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Church</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Minister</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% include 'includes/partial_wedding_list.html' %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-CRUD">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>

{% endblock %}